/*INPUTS*/
input[type=text] {
  width: 80%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 10px;
  background-color: #CEE5EE;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 6px 10px 6px 20px;
}

/*DESPLEGABLES*/
	.soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 8px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: 12px;
   margin: 8px;
   overflow: hidden;
   padding: 3px 7px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 170px;
}


/*BOTONES*/
    .button {
      background-color: #CEE5EE;
      border-style: double;
      padding: 4px 4px;
      cursor: pointer;
      font-size: 13px;
  }

    /* Darker background on mouse-over */
    .button:hover {
      background-color: #2581A4;
  }


/*POSICIONES */
.topright {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 18px;
}
.topright2 {
  position: absolute;
  top: 20px;
  right: 120px;
  font-size: 13px;
}

.topleft{
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 22px;
  }
/* ADORNOS */
p {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 18%;
	left: 50%;
	width: 40em;
	margin: 0 0 0 -20em;
	}
	
span {
  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }


/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

/* FLASH MESSAGES */

.animated {
	padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
         
@keyframes flash {
	0%, 50%, 100% {
	opacity: 1;
	}
	25%, 75% {
	opacity: 0;
	}
}

.flash {
	animation-name: flash;
}
