<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ACCESSIONID</title>
    <link rel="stylesheet" type="text/css" href="/static/css/RESULTS.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/estilos.css"/>
  </head>
    <span class="topleft">
    Accession ID Metadata
    </span>
<body background="../static/images/AccessionID.jpg">
<div class="topright"><input type='button' onclick="javascript:history.back()" class="button" name='BACK' id = 'BACK' value = 'BACK'></div>
<h2>&nbsp;</h2> 
<table id="example" class="display" style="width:100%">
    <body>
    {% for table in tables %}
            {{ table|safe }}
    {% endfor %}

</table>
    {% block content %}
    {% endblock %}
    </body>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() { 
    $('#example').DataTable( {
    } );
} );
</script>
</html>