<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>METADATA</title>
    <link href="../static/css/df_style.css" rel="stylesheet" type="text/css">
    <link href="../static/css/mainmain.css" rel="stylesheet" type="text/css">
    <link href="../static/css/estilos.css" rel="stylesheet" type="text/css">
    <!-- Main style sheet -->
    <style>
      .buttonnegro {
    background-color: #2089C1;
    border: none;
    color: white;
    padding:6px 16px;
    text-align: center;
    font-size: 15px;
  }
    .buttonnegro:hover {
      background-color: #E87F09;
    }
   	.error {
   		left:50px;
   		padding-top:300px;
    	margin-bottom:60px;
    	font-size:19pt;
  		animation: blinker 3s linear infinite;
  		-webkit-animation-duration: 1s;
		animation-duration: 3s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	  	color:red;
}
         
@keyframes blinker {
	0%, 50%, 100% {
	opacity: 1;
	}
	25%, 75% {
	opacity: 0;
  	}

</style>
  </head>


<body>
   <div class="limiter">
    <div class="container-login100" style="background-image: url({{ url_for('static', filename='images/faro.jpg') }})";>
        <div class="topright2"><input type='button' onclick="location.href='/'" class="button" name='BACK' id = 'BACK' value = 'BACK'></div>
        <h2>&nbsp;<span class="topleft">
    METADATA
    </span></h2>
    <tr>&nbsp;</tr>
    <form method= "POST" action= "{{ url_for('RESULTS') }}">
    <div class="limiter_left">
    <div class="custom-select" style="width:200px;">
      <h4> DEPTH </h4>
      <select name="depth">
        <option value="0">ALL</option>
        <option value="1">Upper Photic Layer(0-25m)</option>
        <option value="2">Lower Photic Layer(25-200m)</option>
        <option value="3">Mesopelagic(200-1000m)</option>
        <option value="4">Bathypelagic(1000-4000m)</option>
      </select>
    </div>

    <div class="custom-select" style="width:200px;">
      <h4> TEMPERATURE </h4>
      <select name= "temperature">
        <option value="0">ALL</option>
        <option value="1">0-9C</option>
        <option value="2">10-20C</option>
        <option value="3">21-25C</option>
        <option value="4">26-30C</option>
        <option value="5">+30C</option>
      </select>
    </div>
      <br>
  <button type="submit" class="buttonnegro">Go</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" onclick="javascript:window.location.reload()" class="buttonnegro">Refresh</button>
</br>
  </div>

  <div class="limiter_center">
  	   <div class="custom-select" style="width:200px;">
    <h4> SOURCE </h4>
      <select name= "source">
        <option value="0">ALL</option>
        <option value="1">Publicly Av.</option>
        <option value="2">TARA</option>
        <option value="3">MALASPINA</option> 
      </select>
    </div>
    <div class="custom-select" style="width:200px;">
    <h4> UPPER FILTER SIZE </h4>
      <select name= "upper_filter">
        <option value="0">ALL</option>
        <option value="1">0.6µm</option>
        <option value="2">0.8µm</option>
        <option value="3">1.6µm</option>
        <option value="4">2µm</option>
        <option value="5">3µm</option>
        <option value="6">5µm</option>   
      </select>
    </div>

    <div class="custom-select" style="width:200px;">
      <h4> LOWER FILTER SIZE </h4>
      <select name="low_filter">
        <option value="0">ALL</option>
        <option value="1">0.2/0.22µm</option>
        <option value="2">0.4/0.45µm</option>
        <option value="3">0.6µm</option>
        <option value="4">0.8µm</option>
      </select>
    </div>
  </div>

    <div class="limiter_right">
    <div class="custom-select" style="width:200px;">
 	<h4> LONGHURST PROVINCE </h4>
      <select name= "province">
        <option value="0">ALL</option>
        <option value="1">FKLD</option>
        <option value="6">GUIA</option>
        <option value="7">PNEC</option>
        <option value="9">ARCT</option>
        <option value="10">NASE/NAST-E</option>
        <option value="14">CARB</option>
        <option value="15">NAST-W</option>
        <option value="16">SATL</option>
        <option value="17">MEDI</option>
        <option value="18">NATR</option>
        <option value="19">GFST</option>
        <option value="20">NADR</option>
        <option value="21">BENG</option>
        <option value="23">ISSG</option>
        <option value="24">EAFR</option>
        <option value="25">CAMR</option>
        <option value="28">CCAL</option>
        <option value="31">KURO</option>
        <option value="37">AUSE</option>
        <option value="38">PEOD/PEQD</option>
        <option value="39">NPTG</option>
        <option value="40">SPSG</option>
        <option value="42">NPST/NPSW</option>
        <option value="44">CHIN</option>
        <option value="47">REDS</option>
        <option value="50">MONS</option>
        <option value="51">SSTC</option>
        <option value="52">ARAB</option>
        <option value="54">ANTA</option>
        <option value="56">BPRL</option>
        <option value="57">CHIL</option>
      </select>
    </div>
    <div class="custom-select" style="width:200px;">
      <h4> OCEAN </h4>
      <select name= "ocean">
        <option value="0">ALL</option>
        <option value="1">Atlantic</option>
        <option value="2">Pacific</option>
        <option value="3">Indian</option>
        <option value="4">Antarctic</option>
        <option value="5">Arctic</option>
      </select>
    </div>
        <div class="custom-select" style="width:200px;">
      <h4> SEASON </h4>
      <select name= "season">
        <option value="0">ALL</option>
        <option value="1">Winter</option>
        <option value="2">Spring</option>
        <option value="3">Summer</option>
        <option value="4">Autumn</option>
      </select>
    </div>
    <div class="custom-select" style="width:200px;">
      <h4> COLOR TUNING </h4>
      <select name= "color">
        <option value="0">ALL</option>
        <option value="1">Green</option>
        <option value="2">Blue</option>
      </select>
    </div>
  </div>
</form>


<script type="text/javascript" src="../static/js/select.js"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      {% for category,message in messages %}
        <div class="{{ category }}">{{ message }}</div>
      {% endfor %}
   {% endif %}
{% endwith %}
</body>
</html>
  <!-- / Advance Search -->