<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PUBMEDID</title>
    <link rel="stylesheet" type="text/css" href="/static/css/RESULTS.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/estilos.css"/>
      <style>
    .btn {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 8px 14px;
      cursor: pointer;
      font-size: 14px;
  }

    /* Darker background on mouse-over */
    .btn:hover {
      background-color: RoyalBlue;
  }
    </style>
  </head>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <body background="../static/images/AccessionID.jpg">
         <div class="topright2"><form method= "POST" action= "{{ url_for('FASTAPUBMED') }}">
      <select name="fastapubmed" class="soflow-color">
        <option value="0">NUCLEOTIDES</option>
        <option value="1">AMINO ACIDS</option>
      </select>
        <button class="btn"><i class="fa fa-download"></i> Download</button>

    </form></div>
    <div class="topright"><input type='button' onclick="javascript:history.back()" class="button" name='BACK' id = 'BACK' value = 'BACK'></div>
        <h2>&nbsp;<span class="topleft">
    Pubmed Identifier and its information
    </span></h2>
<table id="example2" class="display" style="width:100%">
    {% for table in tables %}
            {{ table|safe }}
    {% endfor %}
</table>
    {% block content %}
    {% endblock %}
    </body>
<script>
    $(document).ready(function() { 
    $('#example2').DataTable( {
    } );
} );
</script>
</html>